@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --var1: #0c4c47;
  --var2: hsl(175, 1, 0);
  --var3: #d1f1f1;
}
body{
  @apply overflow-x-hidden;
}

main{
  @apply border-b-4 border-teal-400;
}

.loadingsvg{
  @apply !animate-spin;
}
.loading{
  @apply !bg-transparent;
}
.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash-682 1.4s linear infinite;
}

.search {
    @apply bg-teal-900 flex justify-around items-center gap-10 max-md:p-5;
}

.search img{
  @apply max-md:hidden;
}

.search_container {
    @apply flex flex-col justify-between items-center gap-5;
}

.search_container>h1 {
    @apply text-white text-3xl font-bold max-lg:text-xl;
}

.search_container>div {
    @apply flex justify-between items-center gap-10 max-lg:gap-2;
}

.search-btn_box svg{
  @apply md:!hidden;
}

.map {
    @apply flex justify-center items-center text-sm text-slate-300 max-lg:text-xs ;
}

.map h4:nth-child(1) {
    @apply opacity-50;
}

.search_container input {
    @apply block w-full rounded-md border-0 py-1.5 pl-7  text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.list {
 @apply flex flex-col items-start justify-center gap-10 py-5 overflow-hidden max-w-full; 
}

.list > div > h2 ,.servt {
    @apply text-4xl px-5 font-bold py-2 max-w-full;
  }
   
.list > div:nth-child(1),.list > div:nth-child(2){
  @apply w-full;
}

.list > div:nth-child(3){
  @apply flex justify-center items-center gap-5;
}

.top::-webkit-scrollbar {
  display: none;
}

.top {
    @apply px-5 w-[100vw] flex justify-start items-center gap-10 overflow-x-scroll scroll-smooth ;
}


.topcard{
    @apply px-10 relative border border-teal-300 bg-teal-600 rounded-3xl flex flex-col justify-center items-center gap-5 text-slate-100 h-[28rem] w-80;
}

.topcard > div{
  @apply rounded-full w-40 h-40;
}
.topcard img{
    @apply rounded-full w-full h-full;
}

.topcard div:nth-child(2){
    @apply content-[""] rounded w-20 h-1 bg-slate-200 opacity-25 ;
}

.topcard div:nth-child(3){
    @apply w-full flex flex-col justify-center items-center gap-5 text-center text-sm;
}

.topcard span{
  @apply w-52 ;
}

.topcard span:nth-child(1){
  @apply text-xl font-semibold ;
}

.app__gallery-images_arrows {
  @apply w-full flex justify-between items-center  p-4 bottom-[5%];
}
.gallery__arrow-icon {
  @apply text-teal-300 text-[2rem] cursor-pointer rounded-[5px] bg-black;
}


.app__footerOverlay {
    @apply w-full h-full z-[-1] flex flex-col absolute;
  }
  .app__footerOverlay-black {
    @apply h-1/4 bg-teal-50;
  }
  .app__footerOverlay-img {
    @apply h-3/4 shadow-[inset_rgba(245,239,219,1)_0px_20px_35px_-30px];
  }

.app__newsletter {
    @apply  px-16 border-solid bg-cyan-100 text-black py-20 text-2xl;
  }
  .app__newsletter-heading {
    @apply text-center;
  }
  .app__newsletter-input {
    @apply flex-row mt-12;
  }
  .app__newsletter-input input {
    @apply w-[620px] bg-teal-200 border border-teal-200 text-base text-white mr-8 px-4 py-3 rounded-[5px] border-solid;
  }
  .app__newsletter-input button {
    @apply w-max;
  }
  @media screen and (min-width: 2000px) {
    .app__newsletter-input input {
      @apply text-[2rem];
    }
  }
  @media screen and (max-width: 990px) {
    .app__newsletter-input {
      @apply flex-col w-full;
    }
    .app__newsletter-input input {
      @apply w-full mt-0 mb-8 mx-0;
    }
  }
  @media screen and (max-width: 650px) {
    .app__newsletter {
      @apply px-8 py-8 border-[none];
    }
  }
  @media screen and (max-width: 300px) {
    .app__newsletter-heading h1 {
      @apply text-[32px] leading-[50px];
    }
  }
  


.app__footer {
    @apply w-full relative z-[1] flex justify-start items-center flex-col pt-0 bg-teal-950 text-slate-300  border-t-4 border-teal-400;
}

.app__footer-links {
    @apply w-full flex justify-between items-start mt-20 px-8 py-0;
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work {
    @apply flex-1 text-center m-4;
}

.app__footer-links_logo img:first-child {
    @apply w-[210px] mb-3;
}

.app__footer-links_work p:nth-child(2n + 1) {
    @apply mb-4;
}

.app__footer-links_icons {
    @apply mt-[0.05rem];
}

.app__footer-links_icons svg {
    @apply text-white text-2xl cursor-pointer m-2 hover:text-teal-800;
}

.app__footer-headtext {
    @apply text-white font-normal tracking-[0.04em] capitalize text-[32px] leading-[41.6px] mb-4;
}

.footer__copyright {
    @apply mt-12;
}

@media screen and (max-width: 1150px) {
    .app__footer-links {
        @apply items-center flex-col p-0;
    }

    .app__footer-links_contact,
    .app__footer-links_logo,
    .app__footer-links_work {
        @apply w-full mx-0 my-8;
    }
}

@media screen and (max-width: 650px) {
    .app__footer {
        @apply pt-0 pb-8 px-0;
    }
}

@media screen and (max-width: 350px) {
    .app__footer-links_logo img:first-child {
        @apply w-4/5;
    }
}

#menuToggle {
  @apply relative z-[1] select-none;
  -webkit-user-select: none;
}

#menuToggle span {
  @apply block w-[33px] h-1 relative z-[1] origin-[4px_0px] mb-[5px] rounded-[3px] bg-slate-600;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle input {
  @apply block w-full h-full absolute cursor-pointer opacity-0 z-[2];
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ span {
  @apply bg-teal-900;
}

#menuToggle input:checked ~ span {
  @apply opacity-100 rotate-45 translate-x-0.5 -translate-y-px;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  @apply opacity-0 rotate-0 scale-[0.2];
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  @apply -rotate-45 translate-x-0 -translate-y-px;
}

#menu {
  @apply absolute w-[300px] ml-[-150px] list-none origin-[100%_0%] transition-transform duration-[0.5s] ease-[cubic-bezier(0.77,0.2,0.05,1)] mt-6 p-[50px] bg-cyan-100 max-[500px]:mt-3;
  -webkit-font-smoothing: antialiased;
  /* Changed from '0% 0%' to '100% 0%' */
  transform: translate(100%, 0);
  /* Changed from 'translate(-100%, 0)' to 'translate(100%, 0)' */
}
#menu li {
  @apply text-[22px] px-0 py-2.5;
}
#menuToggle input:checked ~ ul {
  transform: none;
}


.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-hidden  pb-5 pt-5 max-md:hidden bg-teal-900 ;
}

.leftsidebar_link {
  @apply relative flex justify-center items-center gap-4 rounded-xl  text-center py-3 px-5 text-slate-100 hover:text-teal-100 ;
}

.leftsidebar_link.active {
  @apply text-teal-100 bg-teal-700 border border-teal-200;
}


.hospital_profile{
  @apply bg-teal-900 flex border-b-4 border-teal-400;
}

.hospital_container{
  @apply w-full flex flex-col justify-start items-center gap-10 p-10;
}

.main_profile{
  @apply flex justify-start items-center gap-10 w-full p-10 rounded-3xl max-lg:flex-col ;
}

.main_profile > div:nth-child(1){
  @apply bg-teal-900 rounded-3xl h-52 w-[30%] max-lg:w-[50%] max-md:w-[100%];
}
.main_profile > div:nth-child(1) img{
  @apply w-full h-full rounded-3xl;
}

.main_profile > div:nth-child(2){
  @apply  flex flex-col justify-center items-start gap-3 w-[70%] max-lg:w-full max-md:text-sm;
}

.main_profile > div:nth-child(2) > span:nth-child(1){
  @apply text-teal-900 font-bold text-3xl flex justify-start items-center max-md:text-xl;
}

.main_profile > div:nth-child(2) > span:nth-child(1) > span:nth-child(1){
  @apply text-teal-950 font-bold text-xl pl-5 flex justify-start items-center;
}

.hospital_container div{
  @apply bg-white rounded-3xl;
}

.h_p_nav {
  @apply flex flex-col justify-start items-center gap-10 w-full p-10 rounded-3xl;
}

.h_p_nav > div{
  @apply text-xl max-lg:text-lg max-md:text-sm max-sm:text-xs;
}

.h_p_nav ul {
  @apply  w-fit flex justify-around items-center font-medium text-xl max-lg:text-sm max-md:text-sm flex-wrap gap-2;
}

.h_p_nav li{
  @apply bg-teal-600 text-slate-900 mx-4 p-0.5 border-teal-500 rounded-2xl cursor-pointer;
}

.h_p_nav li div {
  @apply p-2 rounded-2xl hover:bg-teal-600 hover:text-slate-100;
}

.h_p_nav li.active div {
  @apply text-slate-100 bg-teal-600;
}


.infocard{
  @apply  flex flex-col justify-start items-start gap-10 w-full p-10 rounded-3xl;
}

.infocard > div:nth-child(1) {
  @apply text-3xl max-lg:text-2xl max-md:text-xl max-sm:text-lg;
}

.infocard > div:nth-child(2) {
  @apply text-xl flex flex-wrap justify-start items-start gap-5;
}

.infocard > div:nth-child(2) span {
  @apply text-xl max-lg:text-lg max-md:text-sm max-sm:text-xs text-slate-900 cursor-pointer m-1 border p-2 border-teal-500 rounded-3xl;
}

.reviewcard {
  @apply  flex flex-col justify-center items-center gap-10 w-full p-10 rounded-3xl;
}
.reviewcard > div{
  @apply  flex justify-start items-start gap-10 w-full rounded-3xl;
}

.reviewcard > div > div {
  @apply  flex flex-col justify-center items-start gap-10 w-1/4 p-10 rounded-3xl;
}

.reviewcard > div > div:nth-child(2) {
  @apply  flex flex-col justify-center items-start gap-10 w-full p-10 rounded-3xl;
}
.reviewcard > div:nth-child(2) {
  @apply content-[""] rounded w-full !h-1 bg-teal-900 opacity-25 ;
}

.gal{
  @apply bg-teal-900 rounded-3xl w-full h-auto flex flex-wrap  justify-center  items-center ;
}

.gal div {
  @apply bg-teal-900 rounded-3xl h-52 w-[20%] flex flex-wrap  justify-center  items-start m-2;
}

.gal img{
  @apply w-full h-full rounded-3xl;
}


#reviews {
  @apply flex flex-col justify-center items-center ;
}

#reviews > div:last-child{
  @apply flex justify-center items-center w-2/4 bg-teal-600 text-xl max-md:text-lg max-[500px]:text-sm text-slate-900 mx-4 mb-4 border p-0.5 border-teal-500 rounded-2xl;
}

#reviews > div:last-child > div {
  @apply p-2 rounded-2xl hover:bg-teal-600 w-full text-center flex justify-center items-center hover:text-slate-100 cursor-pointer;
}

.filters {
  @apply flex flex-col justify-center items-center text-[color:var(--var3)] mx-0 my-5;
}
.filters span {
  @apply text-[1.4rem];
}
.filter span {
  @apply text-[1.2rem];
}
.filter {
  @apply flex flex-col justify-center items-center gap-[15px] mt-[15px];
}
.rating-filter,
.price-filter,
.Experience-filter {
  @apply flex flex-col justify-center items-center;
}
.rating-filter select,
.price-filter select,
.Experience-filter select {
  @apply w-40 h-[1.6rem] text-[0.9rem] mt-[5px] rounded-[10px] border-[none] text-teal-900;
  outline: none;
}
.filters hr {
  @apply w-4/5 text-[color:var(--var3)];
}
/*subsection1 filter section styling end here*/
/*subsection1 more styling*/
.more {
  @apply flex justify-center items-center;
}
.more ul {
  @apply flex flex-col justify-center items-center gap-[25px] text-[1.1rem];
  list-style: none;
}
.more ul li {
  @apply w-full text-center px-5 py-[5px] rounded-[5px] hover:bg-[#7baeae];
}

.search-section {
  @apply flex justify-around items-center w-full bg-teal-900;
}

.search-section > div:nth-child(1), .search-section > div:nth-child(3){
  @apply w-[13%] max-md:hidden;
}

.search-section > div:nth-child(2) {
  @apply w-[65%];
}

.search-section img {
  @apply h-36;
}
.search-bar {
  @apply w-full flex !justify-center !items-center flex-wrap gap-2.5 bg-[#7baeae] px-[50px] py-10 rounded-[10px] scale-90;
}

.search-bar div{
  @apply flex flex-wrap !justify-center !items-center gap-5;
}

.search-bar1,
.search-bar2 {
  @apply bg-[white] w-full flex justify-center items-center ml-2.5 px-2.5 py-0 rounded-[10px];
}
.search-bar1 input,
.search-bar2 input {
  @apply w-full h-8 pl-2 rounded-[10px] border-[none];
  outline: none;
}
.filter-icon {
  @apply text-[white] scale-100;
}
.search-bar1 svg {
  @apply text-[black];
}
.search-btn {
  @apply bg-[#20BB9B] text-[1.1rem] text-[white] bottom-[-15px] transition-all duration-[0.5s] ease-[ease] cursor-pointer px-5 py-2 rounded-[10px] border-[none] left-[420px] active:scale-105;
  outline: none;
}

.search-section > div:nth-child(2) {
  @apply relative;
}


.searchbar_container{
  @apply w-full flex justify-start items-start border-b-4 border-teal-400;
}


.lower-section {
  @apply w-full flex justify-between items-center m-2.5 px-10;
}
.lower-section a {
  @apply no-underline text-[color:var(--var1)] text-base;
}
.book-btn {
  @apply bg-[#20bb9b] cursor-pointer shadow-[rgba(0,0,0,0.24)_0px_3px_8px_0px] px-5 py-[5px] rounded-[20px] border-[none] active:scale-90;
  outline: none;
}
.book-btn a {
  @apply text-base text-[color:var(--var3)];
}

.cardholder{
  @apply flex justify-center items-center flex-col w-full bg-teal-900;
}


.cardsplace{
  @apply w-full flex flex-col justify-start items-center gap-10 md:p-10 py-10;
}

.cardsplace div {
  @apply  bg-white rounded-3xl;
}

.cardbox{
  @apply flex justify-center items-center flex-col w-[inherit] bg-teal-900 max-md:scale-75;
}

.cardbox > div:nth-child(2) {
  @apply content-[""] rounded w-[90%] h-1 bg-teal-400 opacity-25;
}

.details span {
  @apply flex flex-1 justify-center items-center w-60 flex-col mx-5;
}

.surgery-list {
  @apply flex flex-col justify-center items-center gap-5 mx-0 my-[30px];
}
.surgery-list-heading {
  @apply flex justify-center items-center;
}
.surgery-list-heading span {
  @apply text-[2rem] text-[color:var(--var1)];
}

.surgery-contain{
  @apply w-full;
}

.surcard{
  @apply flex w-full h-full justify-center items-center max-md:flex-col;
}

.surcard > div:nth-child(1){
  @apply flex w-2/6 h-full justify-center items-center flex-col max-md:w-4/5;
}

.surcard > div:nth-child(2){
  @apply flex w-4/6 h-full justify-center items-center flex-col;
}

.surcard > div:nth-child(1) > img{
  @apply rounded-full w-2/6 h-2/6;
}

.surcard > div:nth-child(1) > span{
  @apply font-bold text-3xl max-lg:text-xl max-md:text-lg max-sm:text-sm;
}
.surcard > div:nth-child(2) > div{
  @apply font-normal;
}
.surcard > div:nth-child(2) > div:nth-child(2){
  @apply mt-5 flex w-full h-full justify-end items-center;
}
.vdbtn{
  @apply h-full p-3 bg-teal-400 border border-teal-500 rounded-2xl;
}

.surline{
  @apply content-[""] rounded w-2/6 h-1 my-5 bg-teal-50 opacity-25;
}
.surlinea{
  @apply content-[""] rounded w-2/6 h-0.5 bg-teal-500 opacity-75;
}
.surlineb{
  @apply content-[""] rounded w-4/6 h-0.5 bg-teal-500 opacity-75;
}

.surd{
  @apply flex w-full h-full justify-center items-start m-5 flex-col ;
}

.surd_block{
  @apply flex w-full h-full justify-end items-start gap-5 py-5;
}
.surd_block > div:nth-child(1){
  @apply flex w-1/6 h-full justify-center items-center flex-col gap-5;
}
.surd_block > div:nth-child(2){
  @apply flex w-5/6 h-full justify-center items-start flex-col gap-5;
}







.serv_holder{
  @apply flex justify-center items-center w-full gap-5 mt-10 px-14 h-[28rem] max-md:h-full max-md:flex-col;
}

.serv_card {
  @apply flex flex-col items-center relative w-full h-full bg-teal-600 text-white rounded-xl max-md:my-12;
}
.serv_card-image {
  @apply absolute top-[-60px];
}

.serv_card-box{
  @apply h-full flex flex-col justify-between items-center gap-2.5 py-5;
}

.serv_card-content {
  @apply w-full h-[70%] flex flex-col justify-start items-center gap-2.5 mt-[100px];
}
.serv_card-content2 {
  @apply w-full h-[30%] flex flex-col justify-center items-center gap-2.5;
}
.serv_card-content h2 {
  @apply text-3xl max-lg:text-2xl max-md:text-xl max-sm:text-lg;
}
.serv_card-content > div:nth-child(2) {
  @apply w-full flex justify-center items-center;
}
.serv_card-content p {
  @apply w-[70%] text-center font-light text-xl max-lg:text-lg max-md:text-sm max-sm:text-xs;
}
.serv_card a {
  @apply no-underline text-[#77e3e3] text-[1.2rem];
}
.serv_card button {
  @apply bg-[#20BB9B] text-[white] px-5 py-[5px] rounded-[25px] border-[none] right-[50px] bottom-[30px];
  outline: none;
}
.serv_card button a {
  @apply text-inherit;
}

.bloodtype {
  @apply bg-white w-full mx-auto my-5 p-[15px] rounded-[10px];
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bloodheading {
  @apply m-5 text-3xl max-lg:text-2xl max-md:text-xl max-sm:text-lg;
}
.types {
  @apply flex flex-row justify-around m-5 flex-wrap;
}
/* .Group {
  @apply text-center h-[30px] w-[50px] p-[5px] rounded-[20px] border-[#000000] border-solid border-[1px];
} */
.Group {
  @apply  text-xl max-lg:text-lg max-md:text-sm max-sm:text-xs text-slate-900 cursor-pointer m-1 border p-2 border-teal-500 rounded-3xl;
}
.bloodcontainer {
  @apply max-w-[800px] bg-[#f9f9f9] shadow-[0_0_10px_rgba(0,0,0,0.1)] mx-auto my-0 p-5 rounded-[10px];
}
.bloodcontainer label,
.bloodcontainer input,
.bloodcontainer select {
  @apply block mb-2.5;
}
.bloodcontainer input,
.bloodcontainer select {
  @apply w-full border p-2.5 rounded-[5px] border-solid border-[#ccc];
}
.form-group {
  @apply mb-2.5;
}
.split {
  @apply inline-block w-[calc(50%_-_5px)] box-border;
}
.popup {
  @apply fixed -translate-x-2/4 -translate-y-2/4 bg-[#fefefe] border shadow-[0_4px_8px_rgba(0,0,0,0.1)] z-[1] max-w-[300px] text-center p-5 border-solid border-[#ccc] left-2/4 top-2/4;
}
.section-container {
  @apply flex justify-between items-center h-auto;
}
.popup-content {
  @apply text-center;
}
.close-popup {
  @apply cursor-pointer text-xl font-[bold] bg-[#0C4D46] m-2.5 p-[5px] rounded-[30%] border-[#000000] border-solid border-[1] hover:text-white;
  float: center;
}
.poptext {
  @apply m-5;
}
@media (max-width: 768px) {
  label,
  input,
  select {
    @apply w-full;
  }
}

.bloodcontainer h2{
  @apply text-3xl max-lg:text-2xl max-md:text-xl max-sm:text-lg;
}

.Remediesimage {
  @apply flex justify-center items-center bg-cover;
}
.Remediesimage img {
  @apply max-w-full h-auto flex;
}
.remediesheading {
  @apply text-center text-[#0c4c47] m-5 font-bold text-3xl max-lg:text-xl max-md:text-sm max-sm:text-xs;
}
/* main section styling */
.Remediesheaderheader {
  @apply flex justify-around bg-[#0c4c47] m-[30px];
}
.split {
  @apply w-full flex;
}
.split1 {
  @apply flex justify-center items-center w-full;
}
.split2 {
  @apply h-[300px] w-full object-cover;
}
.split2 img {
  @apply w-full object-cover h-[300px];
}
.split1 h2 {
  @apply text-[2rem] text-[white] text-center;
}
/*ingredients section stlying*/
.Ingredients {
  @apply flex justify-around items-center w-full mx-0 my-5 max-md:flex-col;
}
.ingredients1 {
  @apply flex flex-col gap-10 bg-[#0c4c47] text-[white] h-[1000px] w-6/12 ml-[30px] mb-5 p-5 mr-5 max-md:w-full;
  /* max-width: calc(50% - 20px); */
}
.firsthead {
  @apply font-bold;
}
.secondhead {
  @apply flex flex-col h-full justify-between gap-5 ml-[15px];
}
.secondhead div h3 {
  @apply font-light mb-2.5;
}
.secondhead div ul {
  @apply ml-[30px];
}
/*ingredients section stylinf end here*/
.remediesinformation {
  @apply bg-white text-black w-2/4 mr-5 mb-5 p-5 max-md:w-full;
  /* max-width: calc(50% - 20px); */
}
.steps {
  @apply flex;
}
.steps div {
  @apply m-[30px];
}
hr {
  @apply w-2/5;
}
.steps1 {
  @apply justify-center items-center m-5;
}
.stepin{
  @apply w-3/5;
}
.inimage{
  @apply w-2/5;
}
.inimage img {
  @apply h-28;
}
/*notesection styling*/
.note {
  @apply w-full flex justify-center;
}
.notetext {
  @apply p-5;
}
/* note section styling end here*/
/*main section styling end here*/

.remline{
  @apply content-[""] rounded w-3/4 h-1 bg-teal-400 opacity-25;
}

.rem{
  @apply mb-5;
}